*body {
    margin: 0;
    padding: 0;
}

/* CABEÇALHO E TOPO */

header {
    text-align: center;
    margin: 0;
}

.titulo_header {
    font-size: 55px;
    display: grid;
    place-items: center;
}

.barra_botoes {
    padding-top: 0;
    margin-top: -15px;
}

.barra_botoes ul{
    display: grid;
    grid-template-columns: repeat(7, 170px);
    gap: 30px;
        justify-self: center;
        align-items: center;
}

.barra_botoes ul li {
    display: inline;
    margin-right: 15px;
}

.barra_botoes ul li a {
    color: black;
    text-decoration: none;
}

.barra_botoes li a:hover {
    text-decoration: underline;
}

/* MEIO */

.inicio{
    margin: 25px;
}

/* Projetos Escolares*/

.projetos_escolares_sec{
    margin: 25px;
    
    h2{
        font-size: 30px;
    }
    
    h3{
        font-size: 25px;
    }
    
    p{
        font-size: 18px;
    }

    .futsal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 55px);
        justify-self: center;
        align-items: center;

        h3{
            grid-column: span 3;
        }
        p{
            grid-column: span 2;
        }
    }
}

.CELEM{
    margin-top: 90px;
    margin-bottom:100px ;
    justify-self: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 55px);
    gap: 35px;

    h3{
        grid-column: span 3;
    }
    p{
        grid-column: span 2;
        margin-top: 25px;
    }
    img{
        margin-top: 55px;
        margin-left: 75px;
    }

}

.Edutec{
    margin-top: 145px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2);

    h3{
        grid-column: span 3;
    }
    p{
        grid-column: span 2;
    }
    img{
        margin-left: 200px;
    }
}

/* RODAPÉ */

footer {
    text-align: center;
    border-top: black solid 2px;
    margin-top: 30px;

    img {
        margin-top: 25px;
    }
}

p span {
    font-size: 10px;
}