*body {
    margin: 0;
    padding: 0;
}

/* CABEÇALHO E TOPO */

header {
    text-align: center;
    margin: 0;
}

.titulo_header {
    font-size: 55px;
    display: grid;
    place-items: center;
}

.barra_botoes {
    padding-top: 0;
    margin-top: -15px;
}

.barra_botoes ul{ 
    display: grid;
    grid-template-columns: repeat(7, 170px);
    gap: 30px;
    justify-self: center;
    align-items: center;
}

.barra_botoes ul li {
    display: inline;
    margin-right: 15px;
}

.barra_botoes ul li a {
    color: black;
    text-decoration: none;
}

.barra_botoes li a:hover {
    text-decoration: underline;
}
/* MEIO */

.informações_iniciais{
    margin: 25px;
}

.regras_regulamentos{
    margin: 25px;

    .regras_com_imagem{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1);
        gap: 65px;
    
        p{
            grid-column: span 2;
        }
    }
}

.dicas{
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(5);

    .Participação{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        p{
            grid-column: span 2;
        }
    }
    .Organização{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 255px;
        p{
            grid-column: span 2;
        }
    }
    .Comunicação{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        p{
            grid-column: span 2;
        }
    }
    .Relacionamentos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 255px;
        p{
            grid-column: span 2;
        }
    }
}

/* Separação */

.separacao_area_do_aluno{
    background-color: blue;
    padding: 5px;
    border-radius:50px 50px 0px 0px ;
}
.separacao_area_do_aluno:hover{
    background-color: red;
}

.separacao_area_do_aluno2{
    background-color: red;
    padding: 5px;
    border-radius:0px 0px 50px 50px;
}
.separacao_area_do_aluno2:hover{
    background-color: blue;
}

/* Site Area do aluno */

.Site_gov_area{
    margin: 25px;
    h1{
        font-size: 55px;
        span{
            color: #A11D21;
        }
    }
    h2{
        color: #A11D21;
    }
    .display_grid_area{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 30px;
        
        .separacao_textoImagem{
            grid-column: span 2;
        }
    }
}

/* RODAPÉ */

footer {
    text-align: center;
    border-top: black solid 2px;
    margin-top: 30px;

    img {
        margin-top: 25px;
    }
}

p span {
    font-size: 10px;
}