*body {
    margin: 0;
    padding: 0;
}

/* CABEÇALHO E TOPO */

header {
    text-align: center;
    margin: 0;
}

.titulo_header {
    font-size: 55px;
    display: grid;
    place-items: center;
}

.barra_botoes {
    padding-top: 0;
    margin-top: -15px;
}

.barra_botoes ul{
    display: grid;
    grid-template-columns: repeat(7, 170px);
    gap: 30px;
    justify-self: center;
    align-items: center;
}

.barra_botoes ul li {
    display: inline;
    margin-right: 15px;
}

.barra_botoes ul li a {
    color: black;
    text-decoration: none;
}

.barra_botoes li a:hover {
    text-decoration: underline;
}

/* MEIO */

.sobre_colegio{
    margin: 25px;
    margin-top: 75px;
}

.info_cursos{
    margin-top: 100px;
}

/* Logos cursos */

.Cursos_EM {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
    margin: 60px;

    h2 {
        font-size: 40px;
        text-align: center;
        grid-column: span 3;
    }

}

.T-D-S {
    text-align: center;

    h4 {
        font-size: 25px;
        color: black;
    }

    a {
        text-decoration: none;
    }

    img {
        border: solid 2px black;
        border-radius: 15px;
        width: 228.2px;
    }
}

.F-D {
    text-align: center;

    h4 {
        font-size: 25px;
        color: black;
    }

    a {
        text-decoration: none;
    }

    img {
        border: solid 2px black;
        border-radius: 15px;
        width: 228.2px;
    }
}

.E-F-M {
    text-align: center;

    h4 {
        font-size: 25px;
        color: black;
    }

    a {
        text-decoration: none;
    }

    img {
        border: solid 2px black;
        border-radius: 15px;
        width: 228.2px;
    }
}

/* RODAPÉ */

footer {
    text-align: center;
    border-top: black solid 2px;
    margin-top: 30px;

    img {
        margin-top: 25px;
    }
}

p span {
    font-size: 10px;
}